<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Register Screen</title>
</head>
<body class="homePage">
    <h1>Register</h1>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
    <a href="{{url_for('login')}}">Have an account? Login here</a>

    <a href="{{url_for('home')}}"> 
        <img src="{{ url_for('static', filename='image/fullsizelogo.jpg') }}" alt="Logo" class="logo">
    </a>
    
</body>
</html>